#wrapper {
    color: blue;
    text-align: center;
    font-size: 2em;
}

h2 {
    color: orange;
}

p {
    color: white;
    text-align: center;
    font-size: 200;
    font-family: 'Open Sans', sans-serif;
    display:inline-block;
     
}

body {
    background-image: url('dream.jpg');
   
}

#trapped {
   padding: 55.5px 32.5px 55.5px 32.5px;
}
