#pacman {
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 50px solid blue;
  border-left: 50px solid yellow;
  border-bottom: 50px solid blue;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
   position: absolute;
   animation: move 5s infinite;  
    animation: move 5s infinite;
    animation-delay:2s;
     animation-direction: alternate;
}



#cover{
    width: 100px;
    height: 110px;
    position: absolute;
    background-color: lightblue;
    animation-name: example;
    animation-duration: 5.5s;
    animation-delay:2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}



@keyframes move {
    0%   {left: 0;}
    100% {left: 100%;}
}

@keyframes example {
   0% {width: 100px;}
   
    100% {width: 1500px;}
}


    

#wrapper {
    color: blue;
    text-align: center;
    font-size: 3em;
    text-shadow:4px 4px red;
background: lightblue; /* For browsers that do not support gradients */    
 

    
     
}
 p {
    color: RED;
    text-align: center;
    font-size:70;
   font-family: 'Lato', sans-serif;   
     
}


h2, h3 {
    color: orange;
    text-align: center;
    font-size: 3em;
    text-shadow:3px 3px red;
 
}


body {

  background: url('dream.jpg') no-repeat center fixed; 
  background-size: cover;
}

 #trapped{
     margin-left:600px;
    border-radius:50px;
      display: float;
    transform: rotate(4deg);
 }
 decription {
     display:relative ;
     text-align:3px center;
     font-size: 3em;
 }
 

form {
    color: yellow;
    text-align:center;
    font-size: 3em;
    text-shadow:2px 2px red;

}


.blue-button{
    background-color:lightblue;
    transition: width 2s, height 2s, transform 2s;
    
}

.blue-button:hover{
transform: rotate(360deg)

}




