#pacman {
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid blue;
  border-left: 60px solid yellow;
  border-bottom: 60px solid blue;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  
}

#wrapper {
    color: blue;
    text-align: center;
    font-size: 2em;
   
     
}
 p {
    color: RED;
    text-align: center;
    font-size:20;
   font-family: 'Lato', sans-serif;   
     
}


h2, h3 {
    color: orange;
    text-align: center;
    font-size: 2em;
}


body {
    background-image: url('dream.jpg');
   
}
 #trapped{
     margin-left:350px;
      padding: 50px;
      display: float;
 }
 decription {
     display:relative ;
     text-align: center;
 }

form {
    color: yellow;
    text-align:center;
    font-size: 1em;
}


